<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CONN_ACCOUNT" value="server=DESKTOP-QR87BG2;user id=sa;Connection Timeout=60;initial catalog=TSES0001_YC_EMPTY;persist security info=True;password=root123;pooling=true" />
    <!--<add key="CONN_MSC" value="server=192.168.100.17\msc;user id=sa;Connection Timeout=60;initial catalog=TSES0001;persist security info=True;password=82810651;pooling=true"/>-->
    <add key="CONN_MODEL" value="server=DESKTOP-QR87BG2;user id=sa;Connection Timeout=60;initial catalog=WinGoModel_YC;persist security info=True;password=root123;pooling=true" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ObjectListView" publicKeyToken="b1c5bf581481bcd4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.1.16461" newVersion="2.5.1.16461" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
