<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Cells.dll" version="9.0.0.0" targetFramework="net40-client" />
  <package id="Aspose.Words.dll" version="17.7.0.0" targetFramework="net40-client" />
  <package id="AxInterop.AcroPDFLib.dll" version="1.0.0.0" targetFramework="net40-client" />
  <package id="C1.Win.C1FlexGrid" version="4.0.20171.248" targetFramework="net45" />
  <package id="C1.Win.C1TrueDBGrid" version="4.0.20171.248" targetFramework="net45" />
  <package id="ICSharpCode.SharpZipLib.dll" version="0.86.0.518" targetFramework="net45" />
  <package id="itextsharp.dll" version="5.5.0.0" targetFramework="net40-client" />
  <package id="log4net.dll" version="1.2.15.0" targetFramework="net45" />
  <package id="NPOI.dll" version="2.0.1.0" targetFramework="net45" />
  <package id="NPOI.OOXML.dll" version="2.0.1.0" targetFramework="net45" />
  <package id="NPOI.OpenXml4Net.dll" version="2.0.1.0" targetFramework="net45" />
  <package id="NPOI.OpenXmlFormats.dll" version="2.0.1.0" targetFramework="net45" />
  <package id="TSES.Core.Base" version="2.1.0" targetFramework="net45" />
  <package id="TSES.Core.Client" version="2.1.0" targetFramework="net45" />
  <package id="TSES.Core.Client.Base" version="2.1.0" targetFramework="net45" />
  <package id="TSES.Core.Client.ServerBase" version="2.1.0" targetFramework="net45" />
</packages>